@import url('https://fonts.googleapis.com/css2?family=Arial:ital,wght@1,400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply leading-[normal] m-0;
  font-family: 'Arial';
  margin: 0;
  line-height: normal;
  background: 'hsla(273, 5%, 71%, 1), hsla(266, 100%, 50%, 1)';
}

*,
::before,
::after {
  border-width: 0;
}